<launch>
    <node pkg="upros_arm" type="go_home_node" name="go_home" output="screen">
      <param name="servo_bias_1" value="0" type="int"/>
      <param name="servo_bias_2" value="50" type="int"/>
      <param name="servo_bias_3" value="20" type="int"/>
      <param name="servo_bias_4" value="-10" type="int"/>
      <param name="servo_bias_5" value="0" type="int"/>
      <param name="servo_bias_6" value="0" type="int"/>
    </node>    
</launch>