<?xml version="1.0"?>

<robot name="w2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find upros_description)/xacro/w2_body.xacro" />
    <xacro:include filename="$(find upros_description)/xacro/imu.xacro" /> 
    <xacro:include filename="$(find upros_description)/xacro/diff_drive_controller.xacro" />

    <xacro:w2_body /> 
    <xacro:imu prefix="imu"/>  
    <xacro:differential_drive_controller />

</robot>