SUBSYSTEM=="tty",ENV{ID_MODEL_ID}=="ea60",ENV{ID_MODEL}=="HandsFree_IMU_USB_to_UART_Bridge_Controller" MODE="0666", SYMLINK+="imu"
SUBSYSTEM=="tty",ENV{ID_MODEL_ID}=="ea60",ENV{ID_MODEL}=="CP2102_USB_to_UART_Bridge_Controller" MODE="0666", SYMLINK+="imu"
