<launch>

    <!-- 1 四轮全向底盘  2 三轮全向底盘  3 双轮差速底盘 -->
    <arg name="chassis_type" default="2" />

    <!-- 机器人通信节点 -->
    <node name="zoo_driver" pkg="zoo_bringup" type="zoo_driver" output="screen">
        <rosparam file="$(find zoo_bringup)/params/base_params_with_imu_w3s.yaml" command="load" />
        <param name="chassis_type" type="int" value="$(arg chassis_type)" />
    </node>

    <!-- 机器人模型加载 -->
    <param name="robot_description"
        command="$(find xacro)/xacro -i '$(find zoo_description)/urdf/w3s.urdf'" />

    <!-- 依据模型发布TF变换 -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="rate" value="40.0" />
    </node>

    <!-- 激光雷达驱动 -->
    <include file="$(find bluesea2)/launch/lidar_e200_w3s.launch" />

    <!--imu驱动 -->
    <include file="$(find handsfree_ros_imu)/launch/imu_all.launch" />

    <!--相机驱动 -->
    <include file="$(find orbbec_camera)/launch/dabai_dcw2.launch" />

    <!-- tf静态变换-机体-->
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
        args="0 0 0 0 0 0 base_footprint base_link 100" />

    <!-- tf静态变换-激光雷达-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link"
        args="0 0 0.1 0 0 0 base_link laser_link 100" />

    <!-- tf静态变换-imu -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link"
        args="0 0 0 0 0 0 base_link imu_link 100" />

    <!--加载robot_pose_ekf节点-->
    <include file="$(find upros_odometry)/launch/robot_pose_ekf.launch" />

</launch>