#!/usr/bin/env python3

PACKAGE = "upros_cv"

from dynamic_reconfigure.parameter_generator_catkin import *

vfp = ParameterGenerator()

vfp.add("HSV_H_MIN", int_t, 0, "HSV_H_MIN", 0, 0, 180)
vfp.add("HSV_S_MIN", int_t, 0, "HSV_S_MIN", 60, 0, 255)
vfp.add("HSV_V_MIN", int_t, 0, "HSV_V_MIN", 60,	0, 255)
vfp.add("HSV_H_MAX", int_t, 0, "HSV_H_MAX", 180, 0, 180)
vfp.add("HSV_S_MAX", int_t, 0, "HSV_S_MAX", 255, 0, 255)
vfp.add("HSV_V_MAX", int_t, 0, "HSV_V_MAX", 255, 0, 255)


exit(vfp.generate(PACKAGE, "grab_demo", "params_color"))